.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  margin: 0px auto;
  bottom: 0;
  width: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  height: 4px;
}

.swiper-button-next, .swiper-button-prev {
  right: 0;
  width: 10px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 0;
}
